@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.image {
    background-image: url("https://images.unsplash.com/photo-1527838832700-5059252407fa?q=80&w=1996&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: full;
    width: full;
    background-size: cover;
    background-position: center;
    /* filter: blur(1px); */
}
.imageHome {
    background-image: url("../../assets/jadwal-home.png");
    height: full;
    width: full;
    background-size: cover;
    background-position: center;
    /* filter: blur(1px); */
}
.calenderImage {
    background-image: url("../../assets/calender-home.png");
    height: full;
    width: full;
    background-size: cover;
    background-position: top;
    /* filter: blur(1px); */
}
